name: Publish cryptlex.lexactivator package

on:
  workflow_dispatch:
    inputs:
      libraryVersion:
        description: 'library version'
        required: true
        default: ''
      packageVersion:
        description: 'package version'
        required: true
        default: ''

jobs:
  update-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          persist-credentials: false
      
      - name: update setup.py file
        run: |
          sed -i '/version=/!b;c \ \ \ \ version="${{ github.event.inputs.packageVersion }}",' setup.py    
      
      - name: update pre-publish.py file
        run: |
          sed -i '/lexactivator_libs_version =/!b;clexactivator_libs_version = \"v{{ github.event.inputs.packageVersion }}"' pre-publish.py
     
      - name: commit and tag
        run: |
          git add pre-publish.py
          git add setup.py
          git config --local user.email "github-actions@users.noreply.github.com"
          git config --local user.name "github-actions"
          git commit -m "updated version"
          git tag ${{ github.event.inputs.packageVersion }}    
      
      - name: push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tags: true 

  deploy:
  needs: update-version

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
    - name: Download Native Libs
      run: python pre-publish.py
    - name: Build and publish
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python setup.py sdist bdist_wheel
        twine upload dist/*
